/* - стили для Chrome, Safari и Opera
.example::-webkit-scrollbar {
 display: none;
}
- стили для IE, Edge и Firefox
.example {
 -ms-overflow-style: none;  IE и Edge
 scrollbar-width: none;  Firefox
}
*/

body {
    color: #171717;
}
.table {color: #171717}
small {color: #171717}
a.block {
    color: #171717;
}

.text-darkgray {color: #646464;}
.text-bold {font-weight: 900;}

.d-block {display: block}
.jc-c {justify-content: center;}

.py-60 {
    padding-top: 60px!important;
    padding-bottom: 60px!important;
}
.pt-8 {padding-top: 8px}

.m-0auto {margin: 0 auto}
.mt--2 {margin-top: -2px}
.mt--10 {margin-top: -10px}
.mb-16 {margin-bottom: 16px}

.w-30 {width: 30px}
.minh-auto {min-height: auto}

.tc-black {color: #171717}

.underline {text-decoration: underline}
.ta-right {text-align: right}
.c-pointer {cursor: pointer}

.folder-title {
    color: rgba(255,255,255)!important;
}
.folder-text {
    min-height: 85px;
    border-bottom: solid 2px rgba(255,255,255,.9);
}

.form-control {color: #171717;}
.form-control:focus {color: #171717;}

/* General */
.stub .stub-text {
    max-width: 800px;
    margin: 0 auto;
}
.avatar {
    background-position: center;
    background-size: cover;
}
.avatar32 {
    background-position: center;
    background-size: cover;
    width: 32px;
    height: 32px;
}
.avatar48 {
    background-position: center;
    background-size: cover;
    width: 48px;
    height: 48px;
}

/* - стили для Chrome, Safari и Opera
.example::-webkit-scrollbar {
 display: none;
}
- стили для IE, Edge и Firefox
.example {
 -ms-overflow-style: none;  IE и Edge
 scrollbar-width: none;  Firefox
}
*/

*::-webkit-scrollbar {
    width: 5px;
    border-radius: 2px;
}
*::-webkit-scrollbar-track {
    background-color: unset;
}
*::-webkit-scrollbar-thumb {
    background: rgba(102, 102, 102, 0.75);
}


/* Header footer */
.user_avatar {
    background-position: center;
    background-size: cover;
}


/* Work space */
.workspace .nav-item {
    position: relative;
    height: 31px;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    overflow: hidden;
}
.workspace .nav-link {
    border: unset;
    padding-right: 38px;
    padding-top: 5px;
    padding-bottom: 8px;
}
.workspace .btn-block-option-tab {
    position: absolute;
    top: 6px;
    right: 4px;
    padding-bottom: 0px;
    padding-top: 2px;
}
.workspace .nav-link {
    cursor: pointer;
    color: #171717;
    height: 31px;
}
.nav-link_tclicker {
    position: absolute;
    top: 0;
    left: 0;
    padding-top: 5px;
    padding-bottom: 4px;
    padding-left: 14px;
}
.workspace .nav-link:hover {
    background: linear-gradient(135deg,#ef5350 0,#ffca28 100%)!important;
    color: #ffffff;
}
.workspace .nav-link.active {
    background: linear-gradient(135deg,#ef5350 0,#ffca28 100%)!important;
    color: #ffffff!important;
}

.workspace .nav-item_block-option {
    height: 31px;
}
.workspace .btn-block-option-funcs {
    padding-top: 8px;
}

.ws_add_note_so {
    padding-left: 15px;
}
.modal .ws_notes_list_note_block {
    border-bottom: solid 20px #ffffff;
}
.modal .ws_notes_list_wo-folder {
    border-top: solid 20px #ffffff;
}

.ws_arrow-right {
    width: 20px;
    height: 20px;
    padding-top: 7px;
    padding-left: 6px;
}
.ws_arrow-line-1 {
    background-color: #0a0a0a;
    width: 6px;
    height: 2px;
    transform: rotate(45deg);
}
.ws_arrow-line-2 {
    background-color: #0a0a0a;
    width: 6px;
    height: 2px;
    transform: rotate(315deg);
    margin-top: 2px;
}
.js-table-sections-header.show .ws_arrow-right {
    transform: rotate(90deg);
}

/* Notes */
.note .block-content {
    padding: 10px !important;
}
.note .block-options {
    top: 8px;
    right: 10px;
    position: absolute;
    z-index: 100;
    cursor: pointer;
}
.note .block-options_icons-left {
    right: auto;
}

.note .si-pencil {
    padding-bottom: 8px;
    padding-left: 0px;
}
.note .si-pencil:hover {
    color: rgba(255,255,255,.8)!important;
}
.note .fa-times {
    padding-bottom: 8px;
    padding-left: 6px;
    width: 20px;
    font-size: 18px;
}
.note_folder-text {
    border-bottom: none;
}
.notes .note-block_text {
    font-size: 16px;
    line-height: 22px;
    overflow: hidden;
}

/* Company */
.company .text-position {
    min-height: 20px;
}
.block-content .modal_add_employee_p_title {
    font-weight: 600;
    margin-bottom: 0px;
}

.company .employee_link {
    border: solid 1px #999999;
}


/* Profile */
.profile .photo {
    width: 200px;
    height: 200px;
    margin: 0 auto;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.profile .profile-group {
    border-bottom: solid 1px rgba(102, 102, 102, 0.75);
}
.profile .title {
    font-weight: 600;
    margin-bottom: 10px;
}
.profile .text {
    font-size: 16px;
    font-weight: 600;
    margin-bottom: 10px;
    min-height: 25px;
}

.profile-photo {
    min-height: 80px;
    width: 100%;
    max-height: 600px;
}

/* Notifications */
.notifications {
    position: fixed;
    width: 320px;
    right: 15px;
    bottom: 0px;
}
.notification {
    width: 100%;
    padding: 14px;
    border-radius: 5px;
    background: #fff;
    border: solid 1px #777777;
    margin-bottom: 15px;
}
.notification_top {
    position: relative;
    margin-bottom: 15px;
}
.notification_icon_wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.notification_icon_circle {
    border: 0.25em solid #9de0f6;
    color: #3fc3ee;
    position: relative;
    width: 5em;
    height: 5em;
    border-radius: 50%;
    font-family: inherit;
    line-height: 5em;
    overflow: hidden;
    margin: 0 auto;
    margin-bottom: 15px;
}
.notification_icon_inner {
    text-align: center;
    align-items: center;
    font-size: 48px;
    line-height: 64px;
    width: 62px;
    height: 62px;
}
.notification_content {
    width: 100%;
    text-align: center;
}
.notification_title {
    color: #595959;
    font-size: 24px;
    line-height: 24px;
    margin-bottom: 12px;
}
.notification_text {
    font-size: 18px;
    line-height: 22px;
    text-align: center;
    margin-bottom: 0px;
}
.notification_bottom {
    display: flex;
    justify-content: space-around;
}
.notification_success {
    width: 150px;
}

/* Tasks */
.comment-left {
    max-width: 36px;
}
.tasks .files {
    margin-bottom: 25px;
}
.tasks .file {
    margin: 0px 5px;
}
.tasks .file_icon {
    color: #171717!important;
}
.tasks .attach_file {
    position: relative;
    display: inline-block;
    width: 100%;
    height: calc(1.428572em + 0.857143rem + 2px);
    margin-bottom: 0;
    max-width: 228px;
}

/* Chat */
.chat {
    overflow: hidden;
}
.chat_dialogs {
    overflow-x: hidden;
    overflow-y: auto;
}

.chat .file {
    margin: 0 5px;
}
.chat .file_icon {
    margin-right: 2px;
}
.messages_item {
    width: min-content;
}

/* Contacts */
.contacts {
    overflow: hidden;
}
.contacts_list {
    overflow-x: hidden;
    overflow-y: auto;
}


