/* - стили для Chrome, Safari и Opera
.example::-webkit-scrollbar {
 display: none;
}
- стили для IE, Edge и Firefox
.example {
 -ms-overflow-style: none;  IE и Edge
 scrollbar-width: none;  Firefox
}
*/

body {
    color: #171717;
}
.table {color: #171717}
small {color: #171717}
a.block {
    color: #171717;
}

.page-footer {
    display: none!important;
}

.text-darkgray {color: #646464;}
.text-bold {font-weight: 900;}
.fs-12 {font-size: 12px}
.fs-14 {font-size: 14px}
.fs-40 {font-size: 40px}

.bg-none {background: none;}
.bs-none {box-shadow: none;}

.d-block {display: block}
.jc-c {justify-content: center;}

.pt-8 {padding-top: 8px}
.py-60 {
    padding-top: 60px!important;
    padding-bottom: 60px!important;
}

.m-0auto {margin: 0 auto}
.mt-32 {margin-top: 32px}
.mb-2 {margin-bottom: 2px!important;}
.mb-14 {margin-bottom: 14px}
.mb-16 {margin-bottom: 16px}
.mb-32px {margin-bottom: 32px}
.mt--2 {margin-top: -2px}
.mt--10 {margin-top: -10px}
.mt--20 {margin-top: -20px}

.w-30 {width: 30px}
.minh-auto {min-height: auto}

.tc-black {color: #171717}

.underline {text-decoration: underline}
.ta-right {text-align: right}
.c-pointer {cursor: pointer}

.transform90 {
    transform: rotate(90deg);
}
.transform180 {
    transform: rotate(180deg);
}
.transform270 {
    transform: rotate(270deg);
}

.folder-title {
    color: rgba(255,255,255)!important;
}
.folder-text {
    min-height: 85px;
    border-bottom: solid 2px rgba(255,255,255,.9);
}

.form-control {color: #171717;}
.form-control:focus {color: #171717;}

/* General */
.stub {
    margin-bottom: 15px;
}
.stub .stub-text {
    max-width: 800px;
    margin: 0 auto;
}
.avatar {
    background-position: center;
    background-size: cover;
}
.avatar32 {
    background-position: center;
    background-size: cover;
    width: 32px;
    height: 32px;
}
.avatar48 {
    background-position: center;
    background-size: cover;
    width: 48px;
    height: 48px;
}

/* - стили для Chrome, Safari и Opera
.example::-webkit-scrollbar {
 display: none;
}
- стили для IE, Edge и Firefox
.example {
 -ms-overflow-style: none;  IE и Edge
 scrollbar-width: none;  Firefox
}
*/

*::-webkit-scrollbar {
    width: 5px;
    border-radius: 2px;
}
*::-webkit-scrollbar-track {
    background-color: unset;
}
*::-webkit-scrollbar-thumb {
    background: rgba(102, 102, 102, 0.75);
}


/* Header footer */
.user_avatar {
    background-position: center;
    background-size: cover;
}

@media screen and (min-width: 992px) {
    #sidebar_toggle {
        display: none;
    }
}


/* Work space */
.workspace .nav-item {
    position: relative;
    height: 31px;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    overflow: hidden;
}
.workspace .nav-link {
    border: unset;
    padding-right: 38px;
    padding-top: 5px;
    padding-bottom: 8px;
}
.workspace .btn-block-option-tab {
    position: absolute;
    top: 6px;
    right: 4px;
    padding-bottom: 0px;
    padding-top: 2px;
}
.workspace .nav-link {
    cursor: pointer;
    color: #171717;
    height: 31px;
}
.nav-link_tclicker {
    position: absolute;
    top: 0;
    left: 0;
    padding-top: 5px;
    padding-bottom: 4px;
    padding-left: 14px;
}
.workspace .nav-link:hover {
    background: linear-gradient(135deg,#ef5350 0,#ffca28 100%)!important;
    color: #ffffff;
}
.workspace .nav-link.active {
    background: linear-gradient(135deg,#ef5350 0,#ffca28 100%)!important;
    color: #ffffff!important;
}

.workspace .nav-item_block-option {
    height: 31px;
}
.workspace .btn-block-option-funcs {
    padding-top: 8px;
}

.ws_add_note_so {
    padding-left: 15px;
}
.modal .ws_notes_list_note_block {
    border-bottom: solid 20px #ffffff;
}
.modal .ws_notes_list_wo-folder {
    border-top: solid 20px #ffffff;
}

.ws_arrow-right {
    width: 20px;
    height: 20px;
    padding-top: 7px;
    padding-left: 6px;
}
.ws_arrow-line-1 {
    background-color: #0a0a0a;
    width: 6px;
    height: 2px;
    transform: rotate(45deg);
}
.ws_arrow-line-2 {
    background-color: #0a0a0a;
    width: 6px;
    height: 2px;
    transform: rotate(315deg);
    margin-top: 2px;
}
.js-table-sections-header.show .ws_arrow-right {
    transform: rotate(90deg);
}

/* Notes */
.note .block-content {
    padding: 10px !important;
}
.note .block-options {
    top: 8px;
    right: 10px;
    position: absolute;
    z-index: 100;
    cursor: pointer;
}
.note .block-options_icons-left {
    right: auto;
}

.note .si-pencil {
    padding-bottom: 8px;
    padding-left: 0px;
}
.note .si-pencil:hover {
    color: rgba(255,255,255,.8)!important;
}
.note .fa-times {
    padding-bottom: 8px;
    padding-left: 6px;
    width: 20px;
    font-size: 18px;
}
.note_folder-text {
    border-bottom: none;
}
.notes .note-block_text {
    font-size: 16px;
    line-height: 22px;
    overflow: hidden;
}

/* Company */
.company .text-position {
    min-height: 20px;
}
.block-content .modal_add_employee_p_title {
    font-weight: 600;
    margin-bottom: 0px;
}

.company .employee_link {
    border: solid 1px #999999;
}


/* Profile */
.profile .photo {
    width: 200px;
    height: 200px;
    margin: 0 auto;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.profile .profile-group {
    border-bottom: solid 1px rgba(102, 102, 102, 0.75);
}
.profile .title {
    font-weight: 600;
    margin-bottom: 10px;
}
.profile .text {
    font-size: 16px;
    font-weight: 600;
    margin-bottom: 10px;
    min-height: 25px;
}

.profile-photo {
    min-height: 80px;
    width: 100%;
    max-height: 600px;
}

/* Notifications */
.notifications {
    position: fixed;
    width: 320px;
    right: 15px;
    bottom: 0px;
}
.notification {
    width: 100%;
    padding: 14px;
    border-radius: 5px;
    background: #fff;
    border: solid 1px #777777;
    margin-bottom: 15px;
}
.notification_top {
    position: relative;
    margin-bottom: 15px;
}
.notification_icon_wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.notification_icon_circle {
    border: 0.25em solid #9de0f6;
    color: #3fc3ee;
    position: relative;
    width: 5em;
    height: 5em;
    border-radius: 50%;
    font-family: inherit;
    line-height: 5em;
    overflow: hidden;
    margin: 0 auto;
    margin-bottom: 15px;
}
.notification_icon_inner {
    text-align: center;
    align-items: center;
    font-size: 48px;
    line-height: 64px;
    width: 62px;
    height: 62px;
}
.notification_icon_circle_error {
    border: 0.25em solid #e74c3c;
}
.notification_icon_inner_error {
    color: #e74c3c;
}
.notification_content {
    width: 100%;
    text-align: center;
}
.notification_title {
    color: #595959;
    font-size: 24px;
    line-height: 24px;
    margin-bottom: 12px;
}
.notification_text {
    font-size: 18px;
    line-height: 22px;
    text-align: center;
    margin-bottom: 0px;
}
.notification_bottom {
    display: flex;
    justify-content: space-around;
}
.notification_success {
    width: 150px;
}

.notification_bigtext {
    font-size: 24px;
    margin-bottom: 12px;
    line-height: 34px;
    font-weight: 900;
}

/* Tasks */
.comment-left {
    max-width: 36px;
}
.tasks .files {
    margin-bottom: 25px;
}
.tasks .file {
    margin: 0px 5px;
}
.tasks .file_icon {
    color: #171717!important;
}
.tasks .attach_file {
    position: relative;
    display: inline-block;
    width: 100%;
    height: calc(1.428572em + 0.857143rem + 2px);
    margin-bottom: 0;
    max-width: 228px;
}

/* Chat */
.chat {
    overflow: hidden;
}
.chat_dialogs {
    overflow-x: hidden;
    overflow-y: auto;
}

.chat .file {
    margin: 0 5px;
}
.chat .file_icon {
    margin-right: 2px;
}
.messages_item {
    width: max-content;
}

/* Contacts */
.contacts {
    overflow: hidden;
}
.contacts_list {
    overflow-x: hidden;
    overflow-y: auto;
}
.contacts_position {
    min-height: 18px;
}
.contacts_tabs {
    position: relative;
    z-index: 100;
}

.chat-list_item-wrapper {
    position: relative;
}
.contacts_buttons {
    position: absolute;
    right: 0;
    top: 15px;
}

.contact_info {
    padding-top: 16px;
    overflow-x: hidden;
    overflow-y: auto;
}

.contacts .edit_hr {
    margin-top: 32px;
    margin-bottom: 32px;
}

.contacts_search-btn {
    height: 34px;
}

/* Deals */
.stage_title {
    border: 1px solid transparent;
    padding: 0px;
    padding-left: 10px;
    padding-right: 10px;
    width: 227px;
    max-width: 227px;
    min-width: 227px;
    margin-bottom: 20px;
    margin-right: 18px;
    font-size: 15px;
    font-weight: 900;
    height: 25px;
    position: relative;
}
.stage_title_form_arrow {
    height: 18px;
    width: 18px;
    transform: rotate(45deg);
    display: block;
    position: absolute;
    top: 2px;
    right: -10px;
}
.stage_title_form_square {
    background-color: #0a0a0a;
    height: 25px;
    width: 25px;
    display: block;
    position: absolute;
    top: -1px;
    right: -10px;
}

.stage_deals {
    max-width: 245px;
    min-width: 245px;
    width: 245px;
    height: max-content;
}
.stage_deal {
    background-color: #ffffff;
    margin-bottom: 15px;
    padding: 5px;
    margin-right: 5px;
    width: 240px;
    min-width: 240px;
    max-width: 240px;
}

.deal_stages .stage {
    width: 240px;
    height: 258px;
    padding: 10px;
    background-color: #ffffff;
    border: solid 1px #333333;
    margin: 0 3px;
    margin-bottom: 6px;
}

.stage_more {
    width: 240px;
    height: 258px;
    padding: 10px;
    border: dashed 1px #2e383c;
    margin: 0 3px;
    border-radius: 5px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 6px;
}
.stage_more_inner {
    height: 126px;
}
.stage_more_title {
    text-align: center;
    font-size: 16px;
    font-weight: 600;
    margin-bottom: 12px;
    color: #171717;
    min-width: 240px;
}
.stage_more_box {
    width: 80px;
    height: 80px;
    margin: 0 auto;
    padding-top: 34px;
    overflow: hidden;
}
.stage_more_line1 {
    background-color: #2e383c;
    width: 80px;
    max-width: 80px;
    height: 4px;
    border-radius: 3px;
}
.stage_more_line2 {
    background-color: #2e383c;
    width: 80px;
    max-width: 78px;
    height: 4px;
    border-radius: 3px;
    transform: rotate(90deg);
}

.stages_icon_close {
    display: block;
    margin-left: auto;
    width: 14px;
    font-size: 16px;
    margin-right: 2px;
    cursor: pointer;
}

#modal_add_deal .modal_deal_label {
    font-weight: 600;
    margin-bottom: 0px;
}
.stage_deal_btn {
    padding: 2px;
    margin-left: auto;
}
.stage_deal_date {
    height: 17px;
    margin-top: 5px;
    font-weight: 900;
    font-size: 13px;
}
.stage_deal_name {
    line-height: 20px;
    font-size: 15px;
    font-weight: 600;
}

.deals_wrapper {
    overflow: hidden;
    position: relative;
}
.deals {
    position: relative;
    overflow: hidden;
    overflow-x: auto;
    display: flex;
    align-items: center;
}
.deals_list {
    overflow-y: auto;
    overflow-x: hidden;
}
.arrow_wrapper {
    position: absolute;
    justify-content: center;
    align-items: center;
    display: grid;
}
.arrow_wrapper_right {
    top: 0px;
    right: 0px;
}
.arrow_left_block {
    background-color: #2e383c;
    width: 60px;
    height: 100px;
    border-radius: 30px;
    opacity: 0.3;
    position: absolute;
    margin-left: -30px;
    cursor: pointer;
    z-index: 100;
    transition: 0.3s;
}
.arrow_left_icon {
    margin-left: 23px !important;
    font-size: 44px;
    color: #ffffff;
    margin-top: 30px!important;
    top: 24px;
    display: block;
}
.arrow_right_block {
    background-color: #2e383c;
    width: 60px;
    height: 100px;
    border-radius: 30px;
    opacity: 0.3;
    position: absolute;
    margin-left: -30px;
    cursor: pointer;
    z-index: 100;
    transition: 0.3s;
}
.arrow_right_icon {
    margin-left: -6px!important;
    font-size: 44px;
    color: #ffffff;
    margin-top: 30px!important;
    top: 24px;
    display: block;
}
.arrow_block:hover {
    opacity: 0.5;
}
.arrow_bottom_wrapper {
    width: 100%;
    position: absolute;
    margin-top: -15px;
}
.arrow_bottom_block {
    background-color: #2e383c;
    width: 80px;
    height: 15px;
    border-radius: 20px 20px 0px 0px;
    opacity: 0.3;
    cursor: pointer;
    z-index: 100;
    transition: 0.3s;
    margin: 0 auto;
}
.arrow_bottom_icon {
    margin-left: 30px!important;
    margin-top: -1px;
    color: #ffffff;
    width: 20px;
    height: 10px;
    display: block;
    position: absolute;
    font-size: 17px;
}

.deals_scroll_wrapper {
    top: 0;
    right: 0;
    position: absolute;
    margin-top: 45px;
}
.deals_scroll {
    top: 0;
    right: 0;
    position: absolute;
    width: 5px;
    height: 40px;
    background-color: #2e383c;
    opacity: 0.5;
}

/* Welcome */
.login_title_block_wrapper {
    display: none;
}
.login_title_block {
    margin-bottom: -50px;
    text-align: center;
}

.welcome_content {
    color: #fff;
    padding-bottom: 0px;
    padding-top: 40px!important;
    align-items: center;
    margin: auto;
}
.welcome_block {
    display: flex;
    margin-top: 20px;
}
.welcome_icon {
    width: 100px;
    min-width: 100px;
    height: 100px;
    font-size: 76px;
}
.welcome_title {
    color: #fff;
    margin-bottom: 6px;
}
.welcome_text {
    font-size: 18px;
}
.welcome_copyright {
    position: absolute;
    margin-top: 40px;
    margin-bottom: 0px;
    bottom: 0;
}
@media screen and (max-width: 1100px) {
    .welcome_content {
        padding-top: 20px !important;
    }
}
@media screen and (min-width: 768px) and (max-width: 1100px) {
    .welcome_title {
        font-size: 22px;
    }
    .welcome_text {
        font-size: 16px;
    }
}
@media screen and (min-width: 768px) and (max-width: 910px) {
    .welcome_icon {
        width: 80px;
        min-width: 80px;
        height: 100px;
        font-size: 64px;
    }
}
@media screen and (max-width: 767px) {
    .login_title_block_wrapper {
        display: block;
    }
}
@media screen and (max-width: 580px) {
    .welcome_content {
        padding: 30px 15px !important;
    }
}
@media screen and (max-width: 480px) {
    .welcome_icon {
        width: 80px;
        min-width: 80px;
        height: 100px;
        font-size: 64px;
    }
}
